*{
  font-family: 'Poppins', sans-serif;
  background: #fff;
}
/* shared styles */
.btn-primary{
  border-radius: 41px;
background: #E02C6D;
}

/* header styles */
header{
   padding: 90px 130px;
}

.section-title{
  color: #3A3A3A;
  font-size: 1.82rem;
  font-weight: 700;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav >ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #3A3A3A;
}


.banner{
   display: flex;
   background-image: url(../images/Circle\ design.svg);
}
.banner-title{
   font-size: 3.2rem;
   font-weight: 700;
}
.banner-text{
  color: #3A3A3A;
  font-size: 1.2rem;
  font-weight: 600;
}

.logos{
   display: flex;
   justify-content: space-evenly;
   padding-top: 100px;
}

/* feature styles */
.feature{
   display: flex;
   
   gap: 30px;
   justify-content: center;
   
}

.feature-title{
   display: flex;
   text-align: center;
   justify-content: center;
}

.card{
  width: 329px;
  height: 476px; 
  margin-bottom: 30px;
  padding-top: 15px;
  padding-left: 28px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card-title{
  color:  #18191F;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 3px; 
}

.price{
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 3px;
}
.card-text{
  color: #787885;
  font-size: 14px;
  font-weight: 700;
  margin-top: 3px;
}
.button{
   position: absolute;
   right: 10px;
   margin-right: 130px;
}









@media screen and (max-width:576px) {
    nav,
   .feature,
   .logos,
   .banner
   {
     flex-direction: column-reverse;
   }

   .banner-img{
    width: 100%;
   }
   nav >ul{
     flex-direction: column;
   }
   .logos{
     gap: 30px;
   }
   
}

/* medium devices */
@media  and (min-width:576px) and (max-width:992px) {
  nav,
  .banner
  {
    flex-direction: column-reverse;
  }
  
}